SPRING_PROFILES_ACTIVE=local
SERVER_PORT=8080
MOCK_IMAL=true
MOCK_OTP=true
SANDBOX_MODE=true

MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=bml_switch
MYSQL_USER=bml_switch
MYSQL_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_me_root
SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/bml_switch?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Karachi
SPRING_DATASOURCE_USERNAME=bml_switch
SPRING_DATASOURCE_PASSWORD=change_me

JWT_SECRET=change_me_min_32_chars_256bit_entropy____
JWT_ACCESS_TTL_SECONDS=900
JWT_REFRESH_TTL_SECONDS=604800

SWITCH_APP_ID=MB
SWITCH_DELIMITER=^
SWITCH_NET_ID=BML
SWITCH_MERCHANT_NAME=BankAlMurqarmah
SWITCH_MCC=6012
SWITCH_CHANNEL_ID=MOBILE
BANK_IMD=627000
BANK_IBAN_CODE=BMAL
BANK_BRANCH_DEFAULT=001
BANK_AGENT_ACCOUNT=0000000000
ASAAN_MAX_BALANCE=1000000
ASAAN_DAILY_DEBIT_LIMIT=200000
LOOKUPS_CACHE_MAX_AGE_SECONDS=300
